VITE_API_KEY=
VITE_AUTH_DOMAIN=eisenhower-matrix-66cc6.firebaseapp.com
VITE_PROJECT_ID=eisenhower-matrix-66cc6
VITE_STORAGE_BUCKET=eisenhower-matrix-66cc6.firebasestorage.app
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=